/* #Reset
================================================================================================= */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Media - Fluid Images - Video
======================================================= */
figure {
  margin: 0;
}

img, object, embed, video {
  max-width: 100%;
  _width: 100%;
}

/* Fluid images */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* Improve IE's resizing of images */
svg:not(:root) {
  overflow: hidden;
}

/* Correct IE9 overflow */
img {
  height: auto;
}

/* Colors
================================================================================================= */
/* Grid
================================================================================================= */
/* Responsive
================================================================================================= */
/* Transition Times
================================================================================================= */
/* Links and Headers
======================================================= */
a {
  color: #b2b2b2;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
a:focus, a:hover, a:active {
  outline: 0;
}
a:hover {
  color: #e74c3c;
}

h1, h2, h3, h4, h5 {
  margin-bottom: 0.35em;
  color: #409dcc;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
}

h1 {
  font-size: 4.5em;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 1.55em;
}

h4 {
  font-size: 2.1em;
}

h5 {
  font-size: 1em;
}

/* Main Body Styles
======================================================= */
body {
  font-size: 62.5%;
  color: #9d9d9d;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  line-height: 1.4em;
  font-size: 1.2em;
  margin-bottom: 1em;
}

/* Header/Logo and Tagline
======================================================= */
/* Content
======================================================= */
/* Extras
======================================================= */
.go-top {
  display: none;
  position: fixed;
  bottom: 2em;
  right: 2em;
  padding: 1em 1em 0.75em 1em;
  background-color: rgba(158, 178, 192, 0.4);
  font-size: 12px;
  color: white;
  text-decoration: none;
}

.first {
  margin-left: 0 !important;
}

.last {
  margin-right: 0 !important;
}

.cf:before, #toggle:before, header:before, #featured:before,
.cf:after,
#toggle:after,
header:after,
#featured:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after, #toggle:after, header:after, #featured:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf, #toggle, header, #featured {
  *zoom: 1;
}

/* Selection Colors
======================================================= */
::-moz-selection {
  background: #444444;
  color: white;
}
::selection {
  background: #444444;
  color: white;
}

::-moz-selection {
  background: #444444;
  color: white;
}

.button {
  background: #409dcc;
  border-radius: 4px;
  padding: 0.9em 1.2em;
  display: inline-block;
  color: white;
}
.button span {
  font-size: 13px;
  width: 13px;
  height: 13px;
}
.button:hover {
  background: #e74c3c;
  color: white;
}

#toggle a {
  width: 50%;
  float: left;
  padding: 1.5em 0;
  background: #e5e5e5;
  text-align: center;
  color: #b2b2b2;
  font-size: 1.6em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
}
#toggle a.active {
  background: #409dcc;
  color: white;
  text-shadow: 2px 2px 0 #287297;
}

header {
  padding: 1.2em 2em;
  background: #cbcbcb;
}
header img, header nav {
  display: inline-block;
}
header img {
  width: 230px;
}
header nav {
  float: right;
  text-align: right;
  width: 50%;
  position: relative;
  top: 1em;
}
header nav a {
  margin-left: 3%;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 1.35em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
}
header nav a:not(.button) {
  text-shadow: 2px 2px 0 #b2b2b2;
}

#intro {
  background: #f6f6f6;
  padding: 6% 10%;
  font-size: 1.4em;
}

/* Featured Module
======================================================= */
#featured > div {
  width: 30.33333%;
  padding: 0 1.5%;
  float: left;
  vertical-align: top;
  height: 180px;
  position: relative;
}
#featured > div:first-child, #featured > div:nth-child(2) {
  -webkit-box-shadow: inset -1px 0px 0 0 #cbcbcb;
  box-shadow: inset -1px 0px 0 0 #cbcbcb;
}
@media all and (max-width: 600px) {
  #featured > div:first-child, #featured > div:nth-child(2) {
    -webkit-box-shadow: inset 0 -1px 0 0 #cbcbcb;
    box-shadow: inset 0 -1px 0 0 #cbcbcb;
  }
}
@media all and (max-width: 600px) {
  #featured > div {
    width: 97%;
  }
}
#featured > div h3 {
  margin: 1.2em 0 1em;
}
#featured > div .big-number {
  margin-bottom: 4em;
  display: block;
  text-align: center;
  width: 100%;
  font-size: 8em;
  color: #2ecc71;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
}
#featured > div .big-number.high {
  color: #e74c3c;
}
#featured > div .big-number.medium {
  color: #f39c12;
}
#featured > div ol {
  margin-left: 6%;
}
#featured > div ol li {
  font-size: 1.25em;
  margin-bottom: 1em;
}
#featured > div ol li span {
  float: right;
  width: auto;
  position: relative;
  top: -3px;
  font-size: 1.35em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
}
#featured > div ol li span:after {
  font-family: 'Genericons';
  content: '\f221';
  margin-left: 0.5em;
}
#featured > div ol li span:before {
  content: '';
}
#featured > div ol li:first-child span {
  color: #e74c3c;
}
#featured > div ol li:nth-child(2) span, #featured > div ol li:nth-child(3) span {
  color: #f39c12;
}
#featured > div ol li:last-child span {
  color: #2ecc71;
}
#featured > div a {
  position: absolute;
  bottom: 7.5%;
  right: 0;
  left: 0;
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
}
#featured > div a span {
  font-size: 10px;
  width: 10px;
  height: 10px;
  position: relative;
  top: 1px;
  margin-left: 3px;
}

#map {
  display: none;
}
#map.active {
  display: block;
}
#map iframe {
  width: 100%;
  pointer-events: none;
}

#list {
  display: none;
}
#list.active {
  display: block;
}

/* Footer
======================================================= */
footer {
  background: #409dcc;
  padding: 1.5%;
  color: white;
  text-align: center;
}
footer p {
  margin-bottom: 0;
}
