// Buttons
.button {
	background:$blue;
	border-radius:4px;
	padding:0.9em 1.2em;
	display:inline-block;
	color:white;
	//text-shadow:2px 2px 0 $dark-blue;
	&:hover {
		background:$red;
		color:white;
	}
}