// Buttons
.button {
	background:$blue;
	border-radius:4px;
	padding:0.9em 1.2em;
	display:inline-block;
	color:white;
	text-decoration:none;
	span {
		$size:13px;
		font-size:$size;
		width:$size;
		height:$size;
	}
	&:hover {
		background:$red;
		color:white;
	}
}